@font-face {
  src: url('/fonts/lcd.ttf');
  font-family: 'LCD';
  font-style: normal;
}

@font-face {
  src: url('/fonts/HelveticaNeue.ttf');
  font-family: 'Helvetica Neue';
  font-style: normal;
}


table thead th, table tbody td {
    font-size: 0.8em;
    &.destination {
        &, .lcd {
            text-align: left;
        }
        width: 60%;
    }
    &.time {
        &, .lcd {
            text-align: right;
        }
        width: 20%;
    }
    &.departsin {
        &, .lcd {
            text-align: right;
        }
        width: 10%;
    }
}

table th, table td {
    padding: 0.5ex;
    .lcd {
        display: block;
    }
}

.station-banner {
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: left;
}

img.metro-icon {
    float: left;
}

.station-name {
    font-family: "Helvetica Neue";
    float: right;
}

.widget-ptv {
  background-color: #0077BE;
}

.lcd {
    font-family: "LCD";
    font-size: 2em;
    background-color: #444;
    color: #fff63e;
    padding: 0 0.25ex;
    border-radius: 0.25em;
    text-shadow: 2px 2px rgba(255, 255, 0, 0.3);
}

.lcd.scroll {
    white-space: nowrap;
    -webkit-marquee: auto medium infinite scroll normal;
    overflow-x: -webkit-marquee;
}