$late-color: #FF5B0E;
$sick-color: #D31245;
$home-color: #30B379;
$offsite-color: #0581FA;
$out-color: #DEE928;

.widget-keen {
    background-color: #CC3399;
    padding-bottom: 0 !important;
}

h1.keen {
    font-size: 5em;
    text-align: center;
    font-family: "Open Sans";
    top: initial;
    bottom: 0;
    height: auto;
}

h2.keen-count {
    position: absolute;
    top: 0;
    right: 0.5ex;
    font-size: 3.2em;
}

.keen-info {
    width: 100%;
    text-align: center;
    position: absolute;
    top: initial;
    left: 0;
    bottom: 1em;
}

.keen-info h3 {
    background-color: rgba(0,0,0,0.55);
    padding-top: 0.25ex;
    padding-bottom: 0.5ex;
    span {
        display: block;
    }
    [data-bind="whosKeen"] {
        font-size: 1.5em;
    }
    [data-bind="lastKeen"] {
        font-size: .75em;
    }
}