<script type='text/javascript'>
    $(function() {
    Dashing.widget_base_dimensions = [370, 340]
    Dashing.numColumns = 5
    });
</script>

<% content_for :title do %>SSIL Team Dashboard<% end %>

<div class="gridster">
    <ul>
        <!-- Weather -->
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="keen" data-view="Keen"></div>
        </li>
    </ul>
</div>