#_giphy_tv {
    margin-bottom: 10px;
    background-color: black;
    .cleanslate {
        margin: 0 auto !important;
        width: 66% !important;
    }
}

.widget-seinfeld {
    vertical-align: top;
    padding: 0 !important;
    background-color: #04C2DE;
}