#seinfeld-gifs {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
}

.widget-seinfeld {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #04C2DE;
}