.gifsArea {
    width: 100%;
    background: black;
    height: 82%;
}
#gifsIframe {
    width: 60%;
    height: 100%;
    border: none;
}

.widget-gifs {
    vertical-align: top !important;
    padding: 0 !important;
    background-color: #04C2DE;
}